@import "../../scss/colour";

.header {
  background-color: #301446;
  padding: 2rem 1rem;
  width: 100%;
  .row {
    align-items: center;
    justify-content: space-between;
    .group-button {
      text-align: end;
      width: fit-content;
      align-items: center;

      .signin {
        background-color: $primary-color;
        border: 1px solid $secondary-color;
        border-radius: 8px;
        color: #fff;
        padding: 1rem 4rem;
        margin: 0 1rem;
        font-weight: bolder;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          background-color: $secondary-color;
          border: 1px solid $primary-color;
          transition: ease-in-out 0.3s;
        }
      }
      .register {
        background-color: $secondary-color;
        border: 1px solid $primary-color;
        border-radius: 8px;
        color: #fff;
        padding: 1rem 3.3rem;
        margin: 0 1rem;
        font-weight: bolder;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          background-color: $primary-color;
          border: 1px solid $secondary-color;
          transition: ease-in-out 0.3s;
        }
      }
    }
  }
  .logout{
    background-color: $primary-color;
    border: 1px solid $secondary-color;
    border-radius: 8px;
    color: #fff;
    padding: 1rem 4rem;
    margin: 0 1rem;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      background-color: $secondary-color;
      border: 1px solid $primary-color;
      transition: ease-in-out 0.3s;
    }
  }
  .user{
    display: block;
    width: fit-content;
     margin: 0 1.2rem;
   font-size: 36px;
  }
}

@media screen and (max-width: 736px) {
  .header {
    padding: 1rem 0;
    .row {
      .group-button {
        text-align: center;
        display: flex;
        margin-top: 1.5rem;
        .signin {
          width: 100%;
          padding: 1rem 0;
        }
        .register {
          width: 100%;
          padding: 1rem 0;
        }
      }
    }
    .user{
      font-size: 24px !important; 
    }
  }
}
