* {
  font-family: "Chalkboard SE", sans-serif;
}

.container,
.row {
  padding: 0 !important;
  margin: 0 !important;
}

.notification {
  background-color: #ea7052;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: #fff;
  font-size: 36px;
}
.notification p {
  border-bottom: 2px solid #fff;
}
#new-btn {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  border: none;
}
#new-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
  transition: ease-in-out 0.2s;
}
#x-btn {
  border: none;
  color: #fff;
  background: none;
}

@media screen and (max-width: 768px) {
  .notification {
    font-size: 14px;
    padding: 0 0.5rem;
  }
  #new-btn {
    padding: 0.5rem 1rem;
    font-size: 9px;
    margin-right: 0.8rem;
  }
}
